<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuyanzhao.sens.user.core.mapper.LogMapper">
    <resultMap id="BaseResultMap" type="com.liuyanzhao.sens.user.api.entity.Log">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="log_type" property="logType"/>
        <result column="request_url" property="requestUrl"/>
        <result column="request_type" property="requestType"/>
        <result column="request_param" property="requestParam"/>
        <result column="username" property="username"/>
        <result column="ip" property="ip"/>
        <result column="ip_info" property="ipInfo"/>
        <result column="cost_time" property="costTime"/>
        <result column="del_flag" property="delFlag"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--  del_flag 1已删除,0未删除  -->

    <sql id="tb">`t_log`</sql>

    <sql id="all_columns">
        id, name, log_type, request_url, request_type,
        request_param, username, ip, ip_info, cost_time,
        del_flag, create_by, create_time, update_by, update_time
    </sql>

    <sql id="all_values">
        #{name}, #{logType}, #{requestUrl}, #{requestType}, #{requestParam}, #{username}, #{ip}, #{ipInfo}, #{costTime}, #{delFlag}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}
    </sql>

    <delete id="deleteAll">
        DELETE FROM
        <include refid="tb"/>
    </delete>

</mapper>